<!DOCTYPE html>
<html lang = "en">

<head>
  <!-- Gets the head file -->
  <% include ../partials/head %>

  <!-- Gets page specific files -->
  <script src = "scripts/myRestaurantsScript.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "style/myrestaurants.css">
</head>

<body>

  <!-- Gets the header file -->
  <% include ../partials/header.ejs %>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <!-- Side tab for displaying the currently signed in user -->
    <div id = "userInfo">
      <a href = "#">Signed in as: <p id = "username"><b><%= user.username %></b></p>
      <p id = "arrow"><</p></a>
    </div>

    <!-- Container for the cards -->
    <div id = "myRestaurantsContainer">

      <!-- Page Title -->
      <div id = "pageTitle">
        <h1 id = "heading" class = "paraTitle">My Restaurants</h1>
      </div>

      <!-- For each loop goes here to load each of the users saved cards -->
        <% restaurants.forEach(function(restaurant) { %>

          <!-- Container for single card -->
          <div id = "<%= restaurant.name %>" class = "savedRestaurant">

            <% if (restaurant.name != 'Welcome to the My Restaurants page!') { %>

            <!-- Restaurant name and close button -->
            <span class = "close" onclick = "removeSavedRestaurant()">&times;</span>
            <h2 class = "paraTitle cardTitle"><%= restaurant.name %></h2>

            <!-- The Restaurants image -->
            <div class = "sideImgContainer">
              <img class = "sideImg" src = "<%= restaurant.imageUrl %>">
            </div>

            <!-- Contains the restaurants information -->
            <div class = "textContainer">
              <div class = "info">


                  <!-- Round the user rating -->
                  <% var roundedRating = Math.round(restaurant.userRating); %>

                  <!-- Star Rating -->
                  <p class = "cardText"><b>Star Rating:</b>

                  <!-- Generate the star rating -->
                  <% var count = 0; for(var i = 0; i < roundedRating; i++) { %>
                    <span style = 'margin-right: 4px' class = 'fa fa-star starChecked'></span>
                  <% count++; } %>

                  <% for(var i = count; i < 5; i++) { %>
                    <span style = 'margin-right: 4px' class = 'fa fa-star'></span>
                  <% } %>

                </p>

                <!-- User rating, cuisines and average cost -->
                <p class = "cardText"><b>User Rating:</b> <%= restaurant.rating %></p>
                <p class = "cardText"><b>Cuisine/s:</b> <%= restaurant.cuisines %></p>
                <p class = "cardText"><b>Average Cost:</b>

                  <!-- Generate the average cost -->
                  <% var count = 0; for(var i = 0; i < restaurant.averageCost; i++) { %>
                    <span class='fa fa-dollar dollarOn'></span>
                  <% count++; } %>

                  <% for(var i = count; i < 4; i++) { %>
                    <span class='fa fa-dollar dollarOff'></span>
                  <% } %>
                </p>

                <p class = "cardText"><b>Address:</b> <%= restaurant.address %></p>
                <p class = "cardText"><b>Further Information:</b>
                  for more information click <a href = "<%= restaurant.siteUrl %>">here!</a>
                </p>
              </div>
            </div>

            <% } else { %>
              <!-- Placeholder Card -->
              <span class = "close" onclick = "removeSavedRestaurant()">&times;</span>
              <div class = "placeCard">
                <h2 id = "myResPlaceTitle" class = "paraTitle"><%= restaurant.name %></h2>
                <img src = "<%= restaurant.imageUrl %>" id = "myResPlaceImage" alt = "Site Logo Image"/>
                <p class = "cardText myResPlaceText"><%= restaurant.placeText %></p>
              </div>
            <% } %>

          </div>
        <% }); %>

    </div>
  </section>

  <button onclick = "topFunction()" id = "topButton" title = "Go to top">^</button>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

</body>
</html>
