<!DOCTYPE html>
<html lang = "en">

<head>
  <% include ../partials/head %>

  <script src = "scripts/myRestaurantsScript.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "style/myrestaurants.css">
</head>

<body>

  <!-- Gets the header file -->
  <% include ../partials/header.ejs %>

  <!-- Login section which stays hidden till in use -->
  <% include ../partials/login.ejs %>

  <!-- Signup section which stays hidden till in use -->
  <% include ../partials/signup.ejs %>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <div id = "userInfo">
      <a href = "#">Signed in as: <p id = "username"><b><%= user.username %></b></p>
      <p id = "arrow"><</p></a>
    </div>

    <div id = "myRestaurantsContainer">

      <div id = "pageTitle">
        <h1 id = "heading" class = "paraTitle">My Restaurants</h1>
      </div>

        <% restaurants.forEach(function(restaurant) { %>
          <div id = "<%= restaurant.name %>" class = "savedRestaurant">
            <span class = "close" onclick = "removeSavedRestaurant()">&times;</span>
            <div class = "sideImgContainer">
              <img class = "sideImg" src = "<%= restaurant.imageUrl %>">
            </div>

            <div class = "textContainer">
              <h2 class = "paraTitle"><%= restaurant.name %></h2>
              <div class = "info">
                <p class = "cardText"><%= restaurant.placeText %></p>
                <p class = "cardText"><b>User Rating:</b> <%= restaurant.rating %></p>
                <p class = "cardText"><b>Cuisine/s:</b> <%= restaurant.cuisines %></p>
                <p onclick = "getAverage(<%= restaurant.averageCost %>)" class = "cardText costText" id="res<%=_restaurant.name %>">
                  <b>Average Cost:</b>
                <% var count = 0; for(var x=0; x <restaurant.averageCost; x++) { %>
                <span class='fa fa-dollar dollarOn'></span>
                <% count++; } %>
                <% for(var x=0; x <count; x++) { %>
                <span class='fa fa-dollar dollarOff'></span>
                <% } %>
                </p>
              </div>
            </div>
          </div>
        <% }); %>

    </div>
  </section>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

</body>
</html>
