<!DOCTYPE html>
<html lang = "en">

<head>
  <% include ../partials/head %>

  <script src = "scripts/myRestaurantsScript.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "style/myrestaurants.css">
</head>

<body>

  <!-- Gets the header file -->
  <% include ../partials/header.ejs %>

  <!-- Login section which stays hidden till in use -->
  <% include ../partials/login.ejs %>

  <!-- Signup section which stays hidden till in use -->
  <% include ../partials/signup.ejs %>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <div id = "userInfo">
      <a href = "#">Signed in as: <p id = "username"><b><%= user.username %></b></p>
      <p id = "arrow"><</p></a>
    </div>

    <div id = "myRestaurantsContainer">

      <div id = "pageTitle">
        <h1 id = "heading" class = "paraTitle">My Restaurants</h1>
      </div>

        <% restaurants.forEach(function(restaurant) { %>
          <div id = "<%= restaurant.name %>" class = "savedRestaurant">
            <span class = "close" onclick = "removeSavedRestaurant()">&times;</span>
            <div class = "sideImgContainer">
              <img class = "sideImg" src = "<%= restaurant.imageUrl %>">
            </div>

            <div class = "textContainer">
              <h2 class = "paraTitle"><%= restaurant.name %></h2>
              <div class = "info">
                <% if (restaurant.name != 'Welcome to the My Restaurants page!') { %>
                  <div id = "map_<%= restaurant.name %>" class = "resMap"></div>

                  var myCenter = new google.maps.LatLng(55.9454305556, -3.1843444444);
                  var mapCanvas = document.getElementById("map_<%= restaurant.name %>");
                  var mapOptions = {center: myCenter, zoom: 16};
                  var map = new google.maps.Map(mapCanvas, mapOptions);
                  var marker = new google.maps.Marker({position:myCenter});
                  marker.setMap(map);

                  <p class = "cardText"><b>Star Rating:</b>

                  <!-- Generate the star rating -->
                  <% var count = 0; for(var i = 0; i < restaurant.userRating; i++) { %>
                    <span style = 'margin-right: 4px' class = 'fa fa-star starChecked'></span>
                  <% count++; } %>

                  <% for(var i = count; i < 5; i++) { %>
                    <span style = 'margin-right: 4px' class = 'fa fa-star'></span>
                  <% } %>

                </p>

                <p class = "cardText"><b>User Rating:</b> <%= restaurant.rating %></p>
                <p class = "cardText"><b>Cuisine/s:</b> <%= restaurant.cuisines %></p>
                <p class = "cardText"><b>Average Cost:</b>

                  <!-- Generate the average cost -->
                  <% var count = 0; for(var i = 0; i < restaurant.averageCost; i++) { %>
                    <span class='fa fa-dollar dollarOn'></span>
                  <% count++; } %>

                  <% for(var i = count; i < 4; i++) { %>
                    <span class='fa fa-dollar dollarOff'></span>
                  <% } %>
                </p>
                <% } else { %>
                  <p class = "cardText"><%= restaurant.placeText %></p>
                  <% } %>

              </div>
            </div>
          </div>
        <% }); %>

    </div>
  </section>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

</body>
</html>
